@use "../abstract/" as *;

.header {
  position: relative;
  // position: fixed;
  width: 100%;
  z-index: 999;
  .container {
    padding: 0 2rem;
  }
  &__nav {
    display: flex;
    align-items: center;
    gap: 2rem;
    ul {
      background: #fff;
      position: absolute;
      right: -100rem;
      top: 0;
      width: 65%;
      height: 100vh;
      text-align: center;
      transition: 0.5s ease;
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
      li {
        display: flex;
        margin-left: 1rem;
        width: 70%;
        padding-left: 1rem;
        padding-top: 1rem;
        &:hover {
          background-color: $clr--light--gray;
        }
        a {
          margin-bottom: 1rem;
          font-size: 1rem;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .btn {
        position: relative;
        bottom: -18rem;
        font-size: 1rem;
      }
      .btn:hover {
        background-color: $clr--light--primary;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
          rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
          rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
        transition: 0.3s ease;
      }
      div {
        display: flex;
        justify-content: space-between;
        padding: 2rem;
        a {
          font-size: 2rem;
        }
      }
      span {
        height: 0.2rem;
        width: 25rem;
        background-color: $clr--light--gray;
        display: block;
      }
      &.open {
        right: 0rem;
        transition: 0.5s ease;
      }
      a {
        color: $clr--dark;
      }
    }
    .bler {
      width: 35%;
      height: 100vh;
      display: block;
      background-color: rgba(0, 0, 0, 0.2);
      top: 0;
      position: absolute;
      left: 0;
      z-index: 999;
      opacity: 0;
      &.open {
        opacity: 1;
        transition: 5s ease;
      }
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .branding {
    a {
      display: flex;
      align-items: center;
    }
  }
  .header__button {
    a:hover {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      transition: 0.3s ease;
    }
  }
  .toggle__menu {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
  .toggle__menu span {
    width: 2.3rem;
    height: 0.4rem;
    background-color: $clr--light;
    display: block;
    transition: 0.5s ease;
  }

  @include mediaQuery(1024px) {
    .header {
      .container {
        max-width: 195rem;
        margin: 0;
        padding: 0;
      }
      &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-around;
        .d--flex {
          .toggle__menu {
            display: none;
          }
        }
      }
      a {
        display: flex;
        align-items: center;
        i {
          font-size: 3.5rem;
        }
        h3 {
          font-size: 2.3rem;
        }
      }
      &__nav {
        ul {
          gap: 4rem;
          background: transparent;
          position: unset;
          height: fit-content;
          display: flex;
          gap: 0;
          li {
            margin-left: 0;
            a {
              margin: 0 2rem;
            }
          }
          a {
            display: block;
            font-size: 1.8rem;
            font-weight: bold;
            color: $clr--light;
            font-size: 1.2rem;
          }
          .header__home {
            display: none;
          }
          div {
            display: none;
          }
          .btn {
            display: none;
          }
        }
        a:hover {
          text-decoration: underline;
        }
      }

      ul {
        display: flex;
      }
      &__button {
        a:hover {
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          transition: 0.3s ease;
        }
      }
    }
  }
}
