@use "../abstract/" as *;

.btn {
  background-color: transparent;
  padding: .8rem 2.3rem;
  border-radius: 6rem;
  display: inline-block;
  border: 1px solid transparent;

  &.bg--purple {
    background-color: $clr--primary;
    color: $clr--light;
  }
  &.bg--white {
    background-color: $clr--light;
    color: $clr--dark;
  }
  &.bg--black {
    background-color: $clr--dark;
    color: $clr--light;
  }
}

.btn--s {
  background-color: transparent;
  padding: .4rem 1rem;
  border-radius: 6rem;
  display: inline-block;
  border: 1px solid transparent;
  &.bg--purple {
    background-color: $clr--primary;
    color: $clr--light;
  }
  &.bg--white {
    background-color: $clr--light;
    color: $clr--dark;
  }
  &.bg--black {
    background-color: $clr--dark;
    color: $clr--light;
  }
}
